/* CONTAINER */
.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 0 15px;
}
/* CARD DO ANÚNCIO */
.anuncio-card {
  background-color: var(--branco);
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
  width: 800px;
}

.anuncio-card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 20px;
}

.anuncio-card h1 {
  margin-bottom: 10px;
  color: var(--cinza-escuro);
}

.preco {
  font-size: 22px;
  font-weight: bold;
  color: var(--laranja-principal);
  margin-bottom: 15px;
}

.descricao {
  color: var(--cinza-medio);
  margin-bottom: 25px;
  line-height: 1.5;
}

.anuncio-card button {
  padding: 14px 22px;
  border: none;
  border-radius: 8px;
  background-color: var(--cinza-escuro);
  color: var(--branco);
  cursor: pointer;
}

.anuncio-card button:hover {
  background-color: var(--laranja-principal);
}
