* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --amarelo-destaque: #F5C400;
  --laranja-principal: #F57C00;
  --laranja-hover: #E86A00;

  --cinza-escuro: #2B2B2B;
  --cinza-medio: #7A7A7A;
  --cinza-claro: #F2F2F2;

  --branco: #FFFFFF;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* NAVBAR */

.navbar {
  background-color: var(--cinza-escuro);
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.logo {
  color: var(--branco);
  font-size: 18px;
  font-weight: bold;
}

/* NAV LINKS */

.nav-links {
  display: flex;
  list-style: none;
  height: 100%;
  align-items: center;
}

.nav-links li {
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 20px;

  color: var(--branco);
  text-decoration: none;
  transition: 0.2s;
}

.nav-links a:hover {
  background-color: var(--amarelo-destaque);
  color: var(--cinza-escuro);
}

/* MATERIAL ICONS */

.material-symbols-outlined {
  font-size: 28px;
  line-height: 1;
}

/* SEARCH HEADER (APENAS SE USAR NA HOME) */

.search-header {
  display: none;
}

.home-page .search-header {
  display: flex;
  gap: 10px;
  margin-left: 30px;
}

.home-page .search-header input {
  padding: 6px 10px;
  border-radius: 6px;
  border: none;
  width: 250px;
}

.home-page .search-header button {
  padding: 6px 12px;
  background-color: var(--laranja-principal);
  color: var(--branco);
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.home-page .search-header button:hover {
  background-color: var(--laranja-hover);
}